.DestinationForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2%;
  height: 11%;
  width: 100%;
}

.marina-name {
  width: 33%
}

.selected-marina {
  font-weight: bold;
  font-size: 1.5em;
}

.DestinationForm--button {
  max-width: 33%;
  background-color: #262660;
  color: #d2ab2d;
}

@media (max-width: 600px) {
.DestinationForm {
  height: 25%;
}

.DestinationForm p {
  margin: 2px;
}

.selected-marina {
  font-size: 1em;
}
}