.POICard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 1%;
}

.POICard--image {
  width: 150px;
  margin: 1%;
}

.POICard--text {
  width: 100%;
}

.POI--button {
  max-width: 150px;
  margin: 1%;
}

.highlighted__true {
  border: 3px solid rgb(24, 24, 121);
}

@media (max-width: 400px) {
  .POICard {
    flex-direction: column;
  }
}