.TripPage {
  display: flex;
  height: calc(100vh - 100px)
}

.TripPage--right {
  height: 100%;
  width: 100%;
}

.POI-section {
  overflow-y: scroll;
  height: 82%;
  scroll-behavior: smooth;
  width: 100%;
}

.ViewPage--info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .TripPage {
    flex-direction: column;
  }

  .TripPage--right {
    height: 65%;
    width: 100%;
  }

  .Map {
    width: 100%;
    overflow: none;
  }
  
  .POI-section {
    height: 75%;
  }
}