.Header {
  width: 100%;
  background-color: #262660;
  color:#d2ab2d;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.Nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 1%;
  max-width: 600px;
  min-width: 33%;
}

.Header--logo {
  margin: 1%;
  font-family: 'Pacifico', sans-serif;
}

@media (max-width: 400px) {
  .Header--logo {
   display: none;
  }

  .Header {
    justify-content: flex-end;
    height: 65px;
  }
}